.App {
  background-color: #f6f6f6;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a:visited {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
}

.headline {
  font-size: 50px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
  /* animation: animate 30s linear infinite; */
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.navbar-container {
  border-bottom: 2px solid black;
  display: flex;
  padding: 10px;
}

.navbar-container > div {
  flex: 1;
}

.song-nav :hover,
.mixes-nav :hover,
.home :hover {
  background-color: black;
  color: white;
}

#featured {
  text-align: left;
  padding: 7px;
  font-size: 2vw;
}

.videoHP {
  position: relative;
  overflow: hidden;
  padding: 15px;
  object-fit: fill;
}

.videosong {
  width: 600px;
  height: 600px;
  position: relative;
  overflow: hidden;
  padding: 15px;
  object-fit: fill;
}

.song {
  border: 2px solid black;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.song p {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-flex {
  display: flex;
  align-items: stretch;
  width: 100vw;
}

.media {
  flex: 0 0 150px;
  border-right: 1px solid black;
  padding: 15px;
}

.info-comments {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

.single-image {
  max-width: 400px;
  padding-bottom: 10px;
}

.player {
  width: 50%;
  height: 50%;
}

.info-comments > * {
  text-align: left;
  padding: 5px;
}

#genres {
  display: flex;
  align-items: left;
  justify-content: flex-start;
}

#genres p {
  border: 1px solid black;
  border-radius: 1px;
  padding: 2px;
  margin: 2px;
}

.home-page {
  display: flex;
}

.title {
  font-size: 100px;
  flex: 1;
  padding: 10rem;
  background-color: black;
  color: white;
  vertical-align: middle;
}

.copy {
  flex: 1;
  padding: 1rem;
  color: black;
}

.songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.songs > div img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  filter: none;
  -webkit-filter: grayscale(0);
}

.songs > div img:hover {
  width: 80%;
  height: 80%;
  object-fit: cover;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.songs > div {
  flex: 1 0 20%;
  margin: 5px;
}

.images {
  max-width: 150px;
  max-height: 150px;
}

.song > p {
  line-height: 20px;
  margin-bottom: 5px;
  padding-bottom: 50px;
}

.search {
  border-top: 1px black solid;
  padding: 7px;
  display: flex;
}

.search h3 {
  padding: 7px;
}

.search img {
  max-height: 100px;
}

.search img:hover {
  width: 30%;
  object-fit: cover;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

input[type="text"] {
  padding: 10px;
  border-radius: 10px;
}

.footer-container {
  border-bottom: 2px solid black;
  display: flex;
}

.footer-container p {
  animation: animate 30s linear infinite;
  margin: 7px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
