.editor-picks-container {
  border-top: 1px solid black;
  padding: 20px;
}

.songs-grid {
  max-width: 1400px;
  margin: 5px;
  display: grid;
  grid-gap: 1rem;
}

.song-card {
  background-color: green;
  padding: 1rem;
  height: 10rem;
}

@media (min-width: 768px) {
  .songs-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .songs-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1190px) {
  .songs-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
