.genres-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  border-top: 1px solid black;
  padding: 10px;
  text-align: center;
}

.genres-container > div {
  margin: 20px;
}

.genres-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.genre {
  border: 1px solid black;
  padding: 1rem;
  height: 3rem;
  width: 200px;
  text-align: center;
}

/* Screen larger than 750px? 2 column */
@media (min-width: 750px) {
  .genres-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
