.genres-container {
  display: flex;
  flex-flow: row wrap;
  border-top: 1px solid black;
}

.genres-container > div {
  margin: 20px;
}

.right-column {
  border: 1px solid black;
  flex: 2;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.orange-column {
  background-color: orange;
  height: 100px;
}

.blue-column {
  background-color: blue;
  height: 100px;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}
