// .hero-container {
//   // border-top: 1px solid black;
//   margin: 5px;
//   max-height: 500px;
// }

@-webkit-keyframes scale-in {
  0% {
    transform: scale(10, 10);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(10, 10);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes roll-out {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes roll-out {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

main {
  width: 100%;
  overflow: hidden;
}

.hero-container {
  width: 100%;
  max-width: 3000px;
  max-height: 500px;
  text-align: left;
  margin: 0 auto;
  position: relative;
}

.hero-container h1 {
  padding: 30px;
  font-size: 4.1em;
  margin: auto;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;
}

.hero-container h1 span,
.hero-container p span {
  background-color: black;
  color: white;
  padding: 10px;
}

.hero-container p {
  font-size: 1.5em;
  margin: auto;
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 30px;
}

.hero-container img {
  width: 100%;
}
