.nav-container {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

// 768 for full navbar
//anything less is menu wedge
